#  Qudi configuration file for the dummy spectrometer.
#  Mainly here for test purposes and to show an example of module integration
#

global:
    # list of modules to load when starting
    startup: []

    remote_modules_server:
        address: 'localhost'
        port: 12345

    namespace_server_port: 18861

    default_data_dir: 'C:\\Data'

    ## For controlling the appearance of the GUI:
    stylesheet: 'qdark.qss'

gui:
    spectrometer:
        module.Class: 'spectrometer.spectrometer_gui.SpectrometerGui'
        connect:
            spectrometer_logic: 'spectrometerlogic'

logic:
    spectrometerlogic:
        module.Class: 'spectrometer_logic.SpectrometerLogic'
        connect:
            spectrometer: 'myspectrometer'

hardware:
    myspectrometer:
        module.Class: 'dummy.spectrometer_dummy.SpectrometerDummy'
